name: Go

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 2
      matrix:
        go-version:
          - stable
          - oldstable

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
      with:
        submodules: recursive
        
    - name: Lint
      uses: golangci/golangci-lint-action@v6

    - name: Build
      run: go build -v ./...

    - name: Test
      run: | 
        go test -v -race ./...
        go test -tags=test ./...
